@include blockquote(form-list) {
    &{
        .t-form-list-item{
            width: 100%;
        };
        .ant-form-item{
            padding:0;
        }
        .ant-form-item{
            margin-bottom: 10px !important;
        }
    }
    
}