@include blockquote(echarts-top-view) {
    &{
        .list{
            border:solid 1px #eee;
            .ant-card-body{
                padding:$num20;
            }
            .money{
                margin-left: $num5;
                color:$block;
                font-weight: 700;
            }
            .compare-wrapper{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .compare{
                    display: flex;
                    align-items: center;
                    font-size: $font-size12;
                    margin-top: 3px;
                    color:#666;
                    
                }
            }
            .emphasis{
                margin-left: 3px;
            }
            .total-user-footer{
                display: flex;
                align-items: center;
                .month{
                    margin-left: 10px;
                }
            }
            
        }
    }
}