// 样式变量
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$hbg: #62a6bd;
$block: #141414;
$white:#fff;

$primary-active: #3a8ee6;
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;
$hbg-active: #4d7e8f;

$num5: 5px;
$num15: 15px;
$num25: 25px;
$num35: 35px;
$num45: 45px;
$num54: 54px;
$num55: 55px;
$num65: 65px;
$num75: 75px;
$num85: 85px;
$num95: 95px;
$num105: 105px;
$num10: 10px;
$num20: 20px;
$num30: 30px;
$num40: 40px;
$num50: 50px;
$num60: 60px;
$num70: 70px;
$num80: 80px;
$num90: 90px;

$font-size: 12px;
$font-size12: 12px;
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size25: 25px;

$border-radius: 4px;
$font-size-icon: 16px;
$large: 50px;
$middle: 40px;
$small: 30px;

$cursor: pointer;
